<!DOCTYPE html>
<html>
    <head>
  <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="./static/index.css">
        <link rel="stylesheet" type="text/css" href="./static/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <script src="./static/index.js" type="text/javascript"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#"><h2>INDIAN LIBRARY</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="input-group" style="padding-left: 150px;">
              <div class="form-outline">
                <input id="search-input"  type="search" placeholder="Search" id="form1" class="form-control" />
              </div>
              <button id="search-button" type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/books">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/addbook">AddBook</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/books/return?id=1">ReturnBook</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/myprofile?id=1">Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/login">Login/Signup</a>
            </li>
            </div>
            </li>
          </ul>
      
        </div>
      
      </nav>
        <div id="form" style="padding-left: 32%;">
          <div class="container">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
                <h1 style="color: white;font-size: 80px;font-family: 'Times New Roman', Times, serif; text-align: center;" class="container pt-5 lead ">User Profile</h1>     
              <div id="userform">
                <div class="form-modal">
                    <img src="./static/book1.webp" alt="John" style="display: block ; margin: auto; padding-top:10px;" width="50%" height="50%">
                    <div id="login-form">
                        <form method="POST" action="http://127.0.0.1:8000/usersupdate?id=1" name="signup" >
                            <input type="email" name="email" value="{{data['email']}}" placeholder="Enter your email"/>
                            <input type="text" name="username" value="{{data['name']}}" placeholder="Enter name"/>
                            <input type="password" name="password" value="{{data['password']}}" placeholder="Create password"/>
                            <input type="number" name="age" id="quantity" value="{{data['age']}}" placeholder="Enter age" name="quantity" min="10" max="100" step="1">
                            <button type="submit" class="btn signup" onclick="update()" >Update Profile</button>
                            <!-- <p>Clicking <strong>create account</strong> means that you are agree to our <a href="javascript:void(0)">terms of services</a>.</p> -->
                            <hr/>
                            <button type="submit" class="btn signup" style="background-color: red;" >Delete Account</button>
                        </form>
                    </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
            function update()
            {
                alert("Profile Updated")
            }
        </script>
        </body>